<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374276495725-a34qkcts3lgidavr3ne65v6v23d3rgbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374276495725-a34qkcts3lgidavr3ne65v6v23d3rgbn</string>
	<key>API_KEY</key>
	<string>AIzaSyDdjQrLqnrnQwzrhyiZwCDhKvG-pKyAZ8E</string>
	<key>GCM_SENDER_ID</key>
	<string>374276495725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPractice</string>
	<key>PROJECT_ID</key>
	<string>forum-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>forum-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374276495725:ios:4667d36009a521d3922264</string>
	<key>DATABASE_URL</key>
	<string>https://forum-flutter.firebaseio.com</string>
</dict>
</plist>